@import "utilities";
@import "dropdown";
@import "forms";
@import "tabs";
@import 'iview-change';
$basecolor:#57a3f3;
html {
  -webkit-font-feature-settings: 'kern' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body { font-family:'Microsoft YaHei', 'Open Sans', 'PingFang SC'; background-color: #fff; color: #666;font-size:12px;overflow:hidden}
button, input, optgroup, select, textarea { font: inherit }
button, label, .pointer { cursor: pointer }
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 500px white inset}
::-webkit-scrollbar {width: 8px;height: 8px}
::-webkit-scrollbar-track {background-color: #fff;border-radius:4px}
::-webkit-scrollbar-thumb {background-color: #B5BCC3;border-radius:4px;}
::-webkit-scrollbar-thumb:hover {background-color: #B5BCC3}
::-webkit-scrollbar-thumb:active {background-color: #B5BCC3}
.thin-scroll::-webkit-scrollbar-track {background-color: #B5BCC3;border-left: 2px solid transparent;border-radius:4px}
.thin-scroll::-webkit-scrollbar-thumb {background-color: #B5BCC3;border-left: 2px solid transparent;border-radius:4px}
.thin-scroll::-webkit-scrollbar {width: 8px;height:8px;}
button+button{margin-left:10px;}
.ivu-transfer-operation button+button{margin-left:0px;}
.ivu-page-options-sizer{min-width:110px;}
.ivu-radio{line-height:1.5}
.ivu-select-multiple .ivu-tag{height:23px;}
.color555{color:#555;}
.rad-3{border-radius:3px;}
.btntable-tit{min-height:24px !important;line-height:22px;padding:0 8px;float: left;border:1px solid transparent}
@keyframes bounce {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1) }
}
@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
.unselectable {user-select: none}
.link {
  color: #808080 !important; transition: color 218ms; cursor: pointer;
  &.lt {color: #A6A6A6}
  &.active,
  &:hover {
    color: #007AFF !important
  }
}
.link-text{
  color:$basecolor !important;cursor: pointer;
}
.tablebtntop{border-radius:3px; min-height: 24px !important;line-height: 22px;padding: 0 8px;}
.searchFieldcon /deep/ .ivu-form-item{margin-bottom:0px;}
.topModal20{
  /deep/ .ivu-modal{top:20px;}
 }
 .topModal20{
  .ivu-modal{top:20px;}
 }
 .margbottom18{margin-bottom:18px;}
 .margbottom16{margin-bottom:16px;}
/* BOOTSTRAP OVERRIDE */
.form-group .col-md-4{
  // text-align: right;
  white-space: nowrap;
}
.card, .panel {}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: FontAwesome;
  content: '\F105';
  color: #636c72
}
.list-group-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: 0
}
.list-group.no-border > .list-group-item { border-color: transparent }
.list-group.list-group-gap > .list-group-item { margin-bottom: 5px; border-radius: 3px }
.list-group.list-group-sm > .list-group-item { padding: 6px 10px }
.item-content:after {
  background-color: #eee;
  position: absolute;
  content: '';
  height: 1px;
  bottom: 0;
  left: 30px;
  right: 0;
}
.dropdown-menu .list-unstyled {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto
}
.list-group.stateful > .list-group-item {
  text-align: inherit;
  color: #464a4c;
  width: 100%
}
.list-group.stateful > .list-group-item:before {
  content: '';
  width: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0
}
.list-group.stateful > .list-group-item:focus,
.list-group.stateful > .list-group-item:hover {
  background-color: #f7f7f9;
  color: #464a4c
}
.status-default, .status-primary, .status-warning, .status-danger, .status-info {background-color: #eceeef !important}
.status-default:before {background-color: #999999}
.status-primary:before {background-color: #007aff}
.status-warning:before {background-color: #f0ad4e}
.status-danger:before {background-color: #f05050}
.status-info:before {background-color: #5bc0de}
.layer-loading {
  background: rgba(255, 255, 255, .2);
  // background: rgba(0, 0, 0, 0.1);
  padding-top: 15rem;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  bottom: 0;
  > i {
    animation: bounce 1.4s infinite ease-in-out;
    animation-fill-mode: both;
    background-color: #A6A6A6;
    display: inline-block;
    border-radius: 100%;
    margin: 0 2px;
    height: 18px;
    width: 18px;
    &:nth-child(2) { animation-delay: .2s }
    &:nth-child(3) { animation-delay: .4s}
  }
}
.labelrequire .ivu-form-item-label:before{
  content:'*';
  display:inline-block;
  margin-right:4px;
  line-height:1;
  font-family:SimSun;
  font-size:12px;
  color:#ed4014
}
.progress-overlay {background-color: rgba(255, 255, 255, .5);position: absolute;z-index: 2;bottom: 0;right: 0;left: 0;top: 0}
.progress-overlay > .progress-circle {position: absolute;top: 50%;left: 50%;margin-left: -1rem;margin-top: -1rem}
.progress-circle {background: url("../img/progress-circle.svg") no-repeat center;width: 2rem;height: 2rem;background-size: 100% auto;margin: 0 auto}
.aside {
  transition: opacity .5s, transform .5s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  background-color: #fff;
  overflow-x: hidden;
  position: fixed;
  z-index: 20;
  opacity: 0;
  top: 60px;
  &.show {transform: translate3d(0, 0, 0);opacity: 1;}
  &.right, &.left { overflow-y: auto; bottom: 0 }
  &.bottom, &.top { right: 0; left: 0 }
  &.top { transform: translate3d(0, -100%, 0); bottom: auto; top: 0 }
  &.bottom { transform: translate3d(0, 100%, 0); bottom: 0; top: auto }
  &.right { transform: translate3d(100%, 0, 0); left: auto; right: 0 }
  &.left { transform: translate3d(-100%, 0, 0) }
}
.white-overlay {background-color: rgba(255, 255, 255, .65)}
.black-overlay {background-color: rgba(0, 0, 0, .65)}
body.aside-show {
  overflow-y: hidden !important
}
.bordered-columns {
  > div {
    padding-top: 10px;
    border: 1px dashed #dedede;
    border-width: 0 1px 0 0
  }
  > div:hover {
    background-color: #fffff4
  }
  > div:last-child {
    border-right: none
  }
}
.widget-weather {
  text-align: center;
  .actual {
    padding-top: 63px;
    padding-bottom: 63px;
    font-weight: bold;
    border-right: 1px solid #eee;
    p {
      margin-bottom: 4px;
      font-size: 1rem;
    }
    .climacon {
      font-size: 5.4375rem;
      line-height: 10px
    }
    h3 {
      font-weight: bold;
      margin-top: 5px;
    }
  }
  .days > div {
    padding: 30px 0;
    border: 1px solid #eee;
    border-width: 0 1px 0 0;
    &:last-child { border-right: none }
    .climacon { line-height: 10px }
    h3 { margin-top: 15px }
    h3:last-child { color: #cacdd2 }
    p {
      font-size: 1.375rem;
      padding-bottom: 7px;
      margin-bottom: 7px;
      border-bottom: 1px solid #fafafa
    }
  }
}
.to-corner {
  position: absolute !important;
  top: 5px;
  right: 5px
}
.network {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin: 1px;
  border-radius: 100%;
  border: 2px solid #fff
}
.network.bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto
}
.network.on { background-color: #56af55 }
.network.off { background-color: #f05050 }
.network.away { background-color: #fad733 }
/* error pages */
.error-shape {
  border-radius: 30px;
  position: relative;
  overflow: hidden !important;
  height: 150px;
  width: 150px;
  font-size: 4.6875rem;
  line-height: 150px;
  display: inline-block;
  &.err-404 { text-shadow: #e0ce66 1px 1px, #e0ce66 2px 2px, #e0ce66 3px 3px, #e0ce66 4px 4px, #e0ce66 5px 5px, #e0ce66 6px 6px, #e0ce66 7px 7px, #e0ce66 8px 8px, #e0ce66 9px 9px, #e0ce66 10px 10px }
  &.err-500 { text-shadow: #dd2158 1px 1px, #dd2158 2px 2px, #dd2158 3px 3px, #dd2158 4px 4px, #dd2158 5px 5px, #dd2158 6px 6px, #dd2158 7px 7px, #dd2158 8px 8px, #dd2158 9px 9px, #dd2158 10px 10px }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 150px;
    width: 150px;
    margin: -75px 0 0 -75px;
    white-space: nowrap;
    text-align: center;
    color: #fff
  }
}
/* tables */
.sortable > i:before {
  border: 5px solid transparent;
  border-top-color: #A6A6A6;
  position: absolute;
  margin-left: .5rem;
  margin-top: -2px;
  content: '';
  top: 50%
}
.sortable.asc > i:before {
  border-top-color: transparent;
  border-bottom-color: #A6A6A6;
  margin-top: -7px
}
.table .md-check {vertical-align: sub}
.table-no-border tr td {border: none !important}
.table-no-th-border thead tr th {border: none !important}
.table-bordered tr > td {border: 1px solid #ebebeb}
.table-centered td {text-align: center}
.table-vertical-middle td, .table > thead > tr > th {vertical-align: middle}
.table-advanced {
  thead tr th {background-color: #f5fbff;padding: 1em}
  tbody tr > i {font-size: .875rem}
}
#app {position: relative;overflow:auto;min-height: 100vh;}
.fl{float:left}
.fr{float: right;}
.app-content {
  width: calc(100% - 208px);
  margin-left: 208px;
  overflow: auto;
  height: 100%;
}
.indexoutcon .app-content{height:100%}
.aside-folded .app-content{
   margin-left:51px;
}
.appheader-text{font-size:14px;padding-left:10px;position: absolute;top:12px;
 &:hover{background:none !important;}
}
.collapse-menu{position:fixed;left:70px;top:45px;}
// .collapse-menu i:before{color:#2d8cf0;font-style: normal;}
.app-header{z-index:99;}
.app-header > *:hover {background-color: #eee}
.app-header .nav-item {line-height: 41px;padding: 0 1rem;text-align: center;display: block}
.app-header .nav-item > .badge {position: absolute;opacity: .7}
.app-footer {line-height: 41px;padding-left: 1rem;padding-right: 1rem;margin-top: auto}
.app-header,
.navbar-brand {
  min-height: 41px;
  height: 41px;
  padding: 0;
  margin: 0;
}
.navbar-brand {
  display: block;
  overflow: hidden;
  z-index: 16;
  position: absolute;
  left: 0;

  &:after {
    position: absolute;
    content: '';
    bottom: -1px;
    right: -1px;
    left: 0;
    height: 1px;
    z-index: 1
  }

  >.logo-xs,
  >.logo-sm {
    display: none
  }

  >.logo {
    display: inline-block;
    padding-top: 20px;
  }
}
.header-fixed {
  .navbar-brand {background: #32323a;top:0;left:0;width:220px;height: 70px;text-align: center}
  .app-content {margin-top: 41px;}
  
  .app-header {position: fixed;left: 200px;right: 0;top: 0}
}
.footer-fixed {
  .app-content {padding-bottom: 41px}
  .app-footer {position: fixed;border-top: 1px solid #c5c5c5;bottom: 0;right: 0;left: 220px;z-index: 20;background-color: #fbfbfb}
}

// .btn-outline-info{border-color:$basecolor;color:$basecolor !important}
// .btn-outline-info:hover{background:$basecolor;color:#fff !important}
.btn,.ivu-form .ivu-form-item-label, .ivu-form-item-content{font-size:0.7rem;min-height:34px}
.ivu-tabs-nav-container{font-size:12px;}
.borderbottom{border-bottom:1px solid #f5f5f5;}
.borderbottom9{border-bottom:9px solid #f5f5f5}
.pd0{padding:0px;}
.index-avatar{width:80px;height:80px;}
.fontsize14{font-size:14px;}
.pos_rel{position:relative;}
.pos_abs{position:absolute;}
.fontsize30{font-size:30px;}
.fontsize18{font-size:18px;}
.fontsize22{font-size:22px;}
.cursor_pointer{cursor:pointer;}
.margin-left-70{margin-left:70px;}
.color666{color:#666}
.color999{color:#999}
.desconline{line-height:30px}
label{cursor:text}
.dropdown-menu{font-size:1.1em}
.filterborderbottom{border-bottom:1px solid #e8eaec}
.fontsize16{font-size:16px;}
.margin-left-30{margin-left:30px;}
.pb-8{padding-bottom:8rem;}
.pb-10{padding-bottom:10rem;}
.tooltipcon a{color:#666}
.tooltipcon .ivu-tooltip-rel{
    border:1px solid #e9eaec;
    width:24px;
    height:24px;
    line-height:24px;
    text-align:center;
    background:#f8f8f9
}

.tx_over{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.vertical-center-modal{
    display: flex;
    align-items: center;
    justify-content: center;

    .ivu-modal{
        top: 0;
    }
}
.ivu-btn i{margin-right:5px;}
.functionnode .ivu-btn i{margin-right:0px;}
.noticecolor{color:#ae6200;}
.hasdangericon{
  width:10px;height:10px;border-radius:50%;background:red;float:left;
}
.ivu-poptip-confirm .ivu-poptip-footer button{line-height:12px;}
.colorred{color:red !important;}
.colorgreen{color:#0ccc1b}
.color8989a5{color:#8989a5}
.warnsize{background:red;width:10px;height:10px;display:inline-block;border-radius:50%;}
.descCon p{line-height:30px;}
.timelinecon{box-shadow: 2px 2px 3px #e3e3ea;padding:0 10px 10px 0}
.text-word{word-break: break-all;}
@keyframes  warnanimate {
  0% {font-size:14px;color:red}
  50% {font-size:18px;color:#ae6200}
  100% {font-size:14px;color:red;}
}
@-moz-keyframes warnanimate {
  0% {font-size:14px;color:red}
  50% {font-size:18px;color:#ae6200}
  100% {font-size:14px;color:red;}
}
@-webkit-keyframes warnanimate {
  0% {font-size:14px;color:red}
  50% {font-size:18px;color:#ae6200}
  100% {font-size:14px;color:red;}
}
@-o-keyframes warnanimate {
  0% {font-size:14px;color:red}
  50% {font-size:18px;color:#ae6200}
  100% {font-size:14px;color:red;}
}
.margin-bottom-15{margin-bottom:15px !important;}

.vouchericon{font-size:1rem;cursor:pointer;color:#666}
// .vouchericon+.vouchericon{margin-left: 10px;}
.shadowBox{position: fixed;top: 0;left: 0;z-index:100000000000;width: 100%;height: 100%;background: #000000;filter:alpha(opacity=30); -moz-opacity:0.3;-khtml-opacity: 0.3; opacity: 0.3;font-size: 50px;font-weight:900;text-align: center;line-height:500px;color:red; }
.ivu-form-item{margin-bottom:18px;}
.ivu-form-item-error .ivu-input{border:1px solid #ff445f;}
.ivu-form-item-error-tip{color:#ff445f;font-size:12px;padding-top:2px;}
.module-tit{font-size:16px;color:#666;font-weight:bold;border-bottom:1px solid #d5d5d5;padding-bottom:10px;}
/*时间轴*/
.timeline-step{list-style:none;margin:0;padding:0;
  .timeline-step-list{
     margin:0;padding:0 0 12px;list-style:none;position:relative;
    .timeline-item-tail{
      height:100%;border-left:1px solid #d5d5d5;position:absolute;left:14px;top:0px;
    }
    .timeline-item-head{
      width:30px;height:30px;background:#fff;border-radius:50%;border:1px solid transparent;position:absolute;font-size:20px;text-align:center;line-height:30px;font-weight:normal;
      &.time-item-head-text{
         border-color:#d5d5d5;color:#d5d5d5;
      }
      &.time-item-head-approval{
         border-color:#2d8cf0;background:#2d8cf0;
         >i{color:#fff}
      }
    }
    .timeline-item-content{
       padding:1px 1px 10px 44px;
       position:relative;top:0px;
       .timeline-item-content-con{
         border:1px solid #f5f5f5;box-shadow:3px 0 10px rgba(0,0,0,0.03);padding:10px 10px 0;position:relative;top:-3px;display:inline-block;width:100%;
         &:before{
          content: '';display: block;position: absolute;width: 0;height: 0;line-height: 0;font-size:0;overflow: hidden;border:10px;border-style:dashed solid dashed dashed;border-color:transparent #ddd transparent transparent;top:8px;left:-20px;
         }
         &:after{
          content: '';display:block;position: absolute;width: 0;height: 0;line-height: 0;font-size:0;overflow: hidden;border:9px;border-style:dashed solid dashed dashed;border-color:transparent #fff transparent transparent;top:9px;left:-18px;
         }
         .itemcon-label{color:#999;}
         >div{margin-bottom:10px;}
         .agree-label{color:#019320;}
         .notagree-label{color:#ff4560;}
         .approval-label{color:#2d8cf0;
             .itemcon-label{color:#2d8cf0;}
         }
       }
    }
    &:last-child .timeline-item-tail{display:none;}
  }

}
.demo-split{
    height: 550px;
    border: 1px solid #dcdee2;
}
.demo-split-pane{
    padding: 10px;
}
.ivu-page{margin-bottom:0px;}
.ivu-page-item-active{border:1px solid #2d8cf0 !important;color:#2d8cf0}
.card-con{position:relative;top:0;left:0;width:100%;height:calc(100% - 51px);display:flex;
  .card-left{width:300px;border-right:1px solid #e8eaed;height:calc(100% - 0px);flex:2;padding:0 10px;
    &.card-middle{width:250px;flex:1.5;}
  }
  .card-topbottom{border-bottom:1px solid #e8eaed;padding:8px 0px;
    .titletext{display:inline-block;}
  }
  .card-leftbottom{padding:10px 0;display:inline-block;width:100%;}
  .card-right{
     padding:0 10px;
     &.card-mid-right{flex:3.5;padding:0 10px;}
  }
}
.indicator-list,.role-list,.tenancy-list,.task-list{
  width:100%;
  float:left;
  height:100%;
  >.task-listcon{
    float: left;
    width:100%;
    height:calc(100% - 40px);
  }
  >ul{
    width:100%;
    float:left;
    >li{
      width:100%;
      float:left;
      padding:5px;
      cursor:pointer;
      margin-bottom:1px;
      list-style:none;
      height:32px;
      &.active,&:hover{
         .list-icon{display:block;}
      }
      .list-checkbox{width:75%;float:left}
      .listspan{width:80%;display:inline-block;vertical-align:middle;}
      .list-icon{width:20%;float:right;text-align:right;display:none;
        i{margin-right:5px;line-height:1.8 !important;}
        i:last-child{margin-right:0px;}
      }
    }
  }
}
.tenancy-list .card-con{
  .card-left{flex:1;overflow: hidden;}
  .card-right{flex:3}
}
.indicator-list .card-con{
  .card-left{flex:1;overflow: hidden;}
  .card-right{flex:3}
}
.role-list .card-con{
  .card-left{flex:1;overflow: hidden;}
  .card-right{flex:3}
}
.ztree li a{vertical-align:middle;}
.task-list ul li .listspan{width:80%;}
.subtitle{color:#333;font-weight:bold;font-size:14px;}
.textoverflow{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boxbg{background:rgb(247, 248, 250);color:rgb(61, 77, 102);padding:10px;min-height:280px;}
.userlistcon ul{
  float:left;width:100%;
  li{float:left;padding:5px 10px;background:rgba(54, 133, 242, 0.1);color:#333;margin:0 10px 10px 0;list-style:none;cursor:pointer;}
}
.userlistcon.usercon ul li{color:#fff;}
.nolistcon{margin-top:100px;}
.minwidthcon,.app-content>div:nth-child(3){min-width:896px;}
.tableminwidth{min-width:950px;}
.ivu-table-tip{overflow-x:hidden}
#role-listcon{
  height: 486px;
  overflow-y: auto;
}
.bordertop{border-top:1px solid #e8eaed}
.font-bold{font-weight:bold;}
.roletreecon{top:36px;border:1px solid #e8eaed;max-width:400px;min-width:350px;background:#fff;z-index:4;max-height:350px;overflow-y:auto;}
.roleinput{border:1px solid #e8eaed;height:32px;line-height:32px;padding:0 10px;}
.logout-text a{color:#555}
.ivu-tree-empty{padding:10px;}
.modellist{float:left;width:100%;
  li{float:left;width:100%;padding:8px;list-style:none;cursor:pointer;margin-bottom:1px;}
}
.choicenocon{text-align:center;padding-top:200px;}
.ivu-table-tip>table>tbody>tr>td{width:100% !important;}
.ivu-spin-fix{z-index:4}
.ivu-select-dropdown-list{margin-bottom:0px;}
.ivu-tooltip-popper{word-break:break-all}
.errorVisible{overflow:visible !important;
  /deep/ .ivu-table{overflow:visible;}
  /deep/ .ivu-form-item{margin-bottom:2px}
  /deep/ .ivu-table-cell{overflow:visible}
  /deep/ .ivu-form-item-error-tip{z-index:99;background: #f6f1f2;padding:2px 5px;color: #e83e3e;}
}
@media (min-width: 768px) {
  #app.container {width: 750px}
}
@media (min-width: 992px) {
  #app.container {width: 970px}
}
@media (min-width: 1200px) {
  #app.container {width: 1170px}
}
@keyframes qb {
  0% { opacity: 0; transform: translate(-20px) }
  to { opacity: 1; transform: translate(0) }
}
@media (min-width: 544px) {
  .aside-folded {
    &.header-fixed .app-header,
    &.footer-fixed .app-footer { left: 51px }
    .navbar-brand {
      background: #32323a;
      width: 50px;
      height:30px;
      left:0px;
      top:0;
      > .logo{display: none;}
      > .logo-xs { display: inline-block; padding-top: 15px; width: 45px;}
    }
    
  }
}
@media (min-width: 768px) {
  .aside-fixed {
    &.aside-folded .app-header {left: 51px}
    .app-aside {position: fixed;top: 0;bottom: 0}
    .app-content {margin-left: 220px}
    .app-header .navbar-header {width: 220px}
  }

  .aside-hover {
    .app-aside,
    .navbar-brand {transition: width .2s ease-in-out}
    .navbar-brand {background-color: #fbfbfb;border-color: transparent}
    .app-aside {
      min-width: initial;max-width: 51px;position: fixed;bottom: 0;overflow-y: hidden;overflow-x: hidden;
      .aside-item {height: 45px;overflow: hidden}
      .aside-item > span {display: none}
      .aside-item:after {display: none}
      &:hover {
        min-width: 220px; overflow-y: auto;
        .aside-item:after {display: block}
        .aside-item.opened {height: auto}
        .aside-item.opened > .children {display: block}
        .aside-item > .children {position: static;width: 100%}
        .aside-item > .children > .fold-header {display: none}
        .aside-item > span {display: inline-block}
      }
    }
    .app-content {margin-left: 51px}
  }
}
 
@media (max-width: 767px) {
  #app {transition: transform .35s ease}
  
}
#app-preloader {
  background: #fff url('../img/loading2.gif') no-repeat center;
  position: fixed;
  display: none;
  z-index: 99;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
body.preloader #app-preloader { display: block }
body.preloader { overflow: hidden }
.lock-screen {
  background: rgba(0, 0, 0, .1);
  margin: -130px 0 0 -130px;
  position: absolute;
  padding: 30px;
  width: 260px;
  left: 50%;
  top: 45%;
}
.importModelBottom .ivu-upload-list-file:hover .ivu-upload-list-remove {
  opacity: 0;
  display: none !important;
}
.importModelBottom .ivu-icon-ios-stats {
  display:none
}
.importModelBottom .ivu-upload-list-file{
  background:#fff !important;
}
.importModelBottom .ivu-upload-list-file>span {
   cursor: text; 
   transition: color .2s ease-in-out; 
}
.importModelBottom .ivu-upload-list-file:hover>span {
  color:#515a6e;
}
.importModelBottom .ivu-upload-drag {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-color .2s ease;
}
.floatright  input{
  text-align: right;
}
/*调节swtich大小*/
.ivu-switch {display: inline-block;width: 40px; height: 20px; line-height: 20px; border-radius: 22px;vertical-align: middle;border: 1px solid #ccc;background-color: #ccc; position: relative; cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; transition: all .4s ease-in-out;}
.ivu-switch:after {content: '';width: 16px; height: 16px; border-radius: 18px;background-color: #fff;position: absolute;left: 1px; top: 1px;cursor: pointer;transition: left .3s ease-in-out,width .3s ease-in-out;}
.ivu-switch-checked:after { left: 22px;}
.cus-tooltip_st {
  width: 100%;
  .ivu-tooltip-rel {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ivu-tooltip-inner {
    white-space: inherit;
  }
}

.ivu-menu {
    // background: $menu-custom-title;
    &:after{
      width: 0px !important;
    }
    .ivu-menu-submenu-title-icon{
      right: 10px !important;
    }
    // 自定义
    .ivu-menu-item-active:not(.ivu-menu-submenu) {
      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        top: 0;
        bottom: 0;
        right: 0;
        // background: $menu-custom-border-color !important;
      }
    }
  
    // 自定义
    .ivu-menu-item {
      // color: $menu-custom-subsidiary-color;
      b {
        font-weight: inherit;
      }
    }
  
    .ivu-menu-item,
    .ivu-menu-submenu-title {
      padding: 7.5px 18px;
    }
  
    // 自定义
    &-submenu &-item {
      &-active,
      &-active:hover {
        border-right: none;
      }
    }
  
    .ivu-menu-submenu-title-icon {
      transform: translateY(-50%) rotate(270deg) !important;
    }
  
    // 自定义
    & &-opened {
      &>.ivu-menu-submenu-title{
        .ivu-menu-submenu-title-icon {
          transform: translateY(-50%) rotate(180deg) !important;
        }
      }
    }
  
    // 1级菜单 样式
    .menu_icon_left {
      display: inline-block;
      font-size: 12px;
    }
  
    .menu_icon_left+.ivu-icon {
      position: relative;
      top: 7px !important;
      right: initial !important;
      font-size: 12px;
    }
  
    // 二级菜单 icon
    .ivu-menu {
      // 覆盖 a i 的 color
      div {
        i {
          margin-right: 3px;
        }
      }
    }
  
    // 重置left
    a.ivu-menu-item,
    .ivu-menu-submenu-title {
      padding-left: 18 !important;
    }
  
    .ivu-menu {
      // 1
      a.ivu-menu-item,
      li.ivu-menu-item,
      .ivu-menu-submenu-title {
        b{
          font-weight: inherit;
        }
        padding-left: 18px !important;
      }
      .ivu-menu {
        // 2
        a.ivu-menu-item,
        li.ivu-menu-item,
        .ivu-menu-submenu-title {
          padding-left: 52px !important;
        }
        .ivu-menu {
          // 3
          a.ivu-menu-item,
          li.ivu-menu-item,
          .ivu-menu-submenu-title {
            padding-left: 68px !important;
          }
        }
      }
    }
  
  }
  // 侧边
  .app-aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    bottom: 0;
  
    // 固定
    .app_aside_fixed {
      margin: auto;
      width: 176px;
      height: 106px;
      z-index: 1000;
    }
  
    // menu
    .app_aside_menu {
      width: 208px;
      overflow: hidden;
    }
  
    .scroll_menu_box1 {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 106px);
      width: 228px;
    }
  
    .scroll_menu_box2 {
      padding-right: 17px;
      width: 228px;
    }
  
    .app_aside_menu::-webkit-scrollbar {
      // width: 0;
    }
  
    // logo
    .app_aside_logo {
      height: 56px;
      line-height: 56px;
  
      img {
        height: 40px;
      }
  
      padding-top: 5px;
      margin-bottom: 5px;
    }
  
    // search
    .app_aside_search {
    
      // margin-bottom: 10px;
      height: 40px;
  
      .ivu-input-wrapper {
        display: block;
      }
  
      // input
      .ivu-input {
        border: none;
        background: inherit;
        border-radius: 0;
        padding-left: 20px;
        border-bottom: 1px solid #DADDE1;
      }
  
      // placeholder
      .ivu-input::placeholder {
        // color: $search_input_txt_color;
      }
  
      .ivu-input:focus {
        box-shadow: none;
        // color: $search_input_txt_color_focus;
        // border-bottom: 1px solid $search_input_border_color_focus;
  
        &::placeholder {
          // color: $search_input_txt_color_focus;
        }
      }
  
      .ivu-input-prefix {
        left: -4px;
        width: 20px;
      }
    }
  }